.bg-div {
    background-color: rgb(119, 104, 255);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 30%;
    border-radius: 0 0 2rem 2rem;
}

.form {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    max-width: 600px;
    margin: 0 auto;
}

ion-content {
    --background: rgb(222, 222, 222);
}

ion-list {
    padding: 1rem;
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: start;
}