<ion-content>
    <app-header-back title="Details"></app-header-back>
    <div class="main-content">
        <app-spinner *ngIf="loading$ | async"></app-spinner>
        <ng-container *ngIf="ad">
            <ion-img [src]="ad.image ? ad.image :'../../../assets/image_placeholder.jpg'" [alt]="ad.title"></ion-img>
            <div style="padding: 0 1rem;">
                <ion-list>
                    <div class="details-top">
                        <div class="category-span">
                            {{ ad.category?.title }}
                        </div>
                        <div class="price-span">
                            1400 TND
                        </div>
                    </div>
                    <div>
                        <h1>{{ ad.title }}</h1>
                        <p>Published : 1/11/2023</p>
                    </div>
                </ion-list>
                <ion-list>
                    <h1>Description</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore perferendis inventore
                        doloremque ab
                        libero voluptate doloribus eveniet nam tempora iure explicabo dolor alias odit, omnis iste
                        placeat
                        deserunt exercitationem earum!</p>
                </ion-list>
                <ion-list>
                    <h1>Seller details</h1>

                    <ion-item lines="none">
                        <ion-icon name="person"></ion-icon>
                        <ion-label slot="end">{{ad.user?.name }} </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="call"></ion-icon>
                        <ion-label slot="end">{{ad.user?.phone }} </ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ng-container>
    </div>
</ion-content>