<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <div style="display: flex;flex-direction: column;justify-content: space-between;height: 100%;">


                    <ion-list id="inbox-list">
                        <ion-menu-toggle *ngIf="authUser">
                            <ion-item lines="full" routerLink="/account">
                                <ion-avatar slot="start">
                                    <img [alt]="authUser.name"
                                        src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                                </ion-avatar>
                                <div>
                                    <ion-list-header>{{authUser.name}}</ion-list-header>
                                    <ion-note>{{authUser.name}}</ion-note>
                                </div>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-menu-toggle>
                            <ion-item routerDirection="root" lines="none" detail="false" routerLink="">
                                <ion-icon aria-hidden="true" slot="start" name="home-outline"></ion-icon>
                                <ion-label>Home</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle *ngIf="authUser">
                            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/account/my-ads">
                                <ion-icon aria-hidden="true" slot="start" name="grid-outline"></ion-icon>
                                <ion-label>My Ads</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle>
                            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/add-ad">
                                <ion-icon aria-hidden="true" slot="start" name="add-outline"></ion-icon>
                                <ion-label>Add Item</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle *ngIf="authUser">
                            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/account/liked">
                                <ion-icon aria-hidden="true" slot="start" name="heart-outline"></ion-icon>
                                <ion-label>Liked</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle>
                            <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
                                routerLink="/login" *ngIf="!authUser">
                                <ion-icon aria-hidden="true" slot="start" name="enter-outline"></ion-icon>
                                <ion-label>Login</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle>
                            <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
                                routerLink="/register" *ngIf="!authUser">
                                <ion-icon aria-hidden="true" slot="start" name="person-outline"></ion-icon>
                                <ion-label>register</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                    <ion-list>
                        <ion-menu-toggle (click)="logout()" *ngIf="authUser">
                            <ion-item routerDirection="root" lines="none" detail="false">
                                <ion-icon aria-hidden="true" slot="start" name="exit-outline"></ion-icon>
                                <ion-label>Logout</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                </div>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>