ion-content {
    --background: #9089E9;
}

.page-wrapper {
    padding-top: 1rem;
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    min-height: 100%;
}

.cat-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #edebf6;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}