.details-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.category-span {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
}

.price-span {
    font-weight: bolder;
    font-size: 20px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: blueviolet;
}

.header ion-icon {
    color: white;
}

.main-content {
    border-radius: 2rem 2rem 0 0;
    background-color: white;
    overflow: hidden;
}