<ion-card style="position: relative;">
  <ion-img [src]="ad.image ? ad.image :'../../../../assets/image_placeholder.jpg'" [alt]="ad.title"></ion-img>

  <ion-card-header (click)="goToDetails(ad._id)">
    <ion-card-title style="font-size: 20px;">{{ad.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    1400 TND
  </ion-card-content>
  <div (click)=" doLike()" *ngIf="authUser$|async" class="card-btn">
    <ion-icon name="heart-outline"></ion-icon>
  </div>
  <div class="location">
    <ion-icon name="location-outline"></ion-icon>
    Tunis, Tunisia
  </div>
</ion-card>