<ion-content>
    <app-header title="Create ad"></app-header>
    <div class="page-content">

        <ion-item>
            <ion-input label="Title" label-placement="floating" name="name" [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea [autoGrow]="true" label="Description" label-placement="floating" name="description"
                [(ngModel)]="description"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-input label="Price" label-placement="floating" name="price" [(ngModel)]="price"
                type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Image" label-placement="floating" name="image" [(ngModel)]="image"></ion-input>
        </ion-item>
        <app-select [items]="categories" (category)="handleCategoryChange($event)"></app-select>
        <ion-item>
            <ion-input label="Location" label-placement="floating" name="location" [(ngModel)]="location"></ion-input>
        </ion-item>
        <ion-button expand="block" style="margin-top: 1rem;" (click)="addAd()">Add</ion-button>
    </div>
</ion-content>